<div class="add-border">
  <div class="row-flex">
    <div class="col-3 add-border">
      <img class="logo" src="../assets/logo.jpeg" alt="logo">
    </div>
    <div class="col-3 add-border">
      <span>Student Details</span>
    </div>
    <div class=" col-6 add-border">
      <app-header (onSearchText)="onSearch($event)"></app-header>
    </div>
  </div>
  <div class="row-flex">
    <div class="col-6">
      <app-add-student></app-add-student>
    </div>
    <div class="col-6">
      <app-student-table [studentList]="filteredstudentList" (delete)="onDelete($event)"></app-student-table>
    </div>
  </div>
</div>
